
.card {
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    border: 1px solid #ddd;
    background: linear-gradient(to bottom right, #f9f9f9, #eaeaea); 
    position: relative;
    margin: 0 auto 20px; /* Centra la tarjeta horizontalmente y mantiene el margen inferior */
    padding: 17px; /* Reducción del padding para hacer la tarjeta más compacta */
    max-width: 500px; /* Establece un ancho máximo para las tarjetas */
}

.card:hover {
    transform: translateY(-8px) scale(1.02); /* Ajuste menor del hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #f1f1f1; 
}

.card-title {
    font-size: 1.4rem; /* Reducción del tamaño del texto */
    margin-bottom: 8px;
    margin-top: 8px;
    color: #2c3e50; 
    transition: color 0.3s ease;
}

.card-title:hover {
    color: #0d1318; 
}

.card-text {
    font-size: 0.9rem; /* Reducción del tamaño del texto */
    color: #393939; 
    line-height: 1.5;
}

.card-footer {
    background-color: #f7f9fa;
    border-top: 1px solid #ddd;
    padding: 8px 10px; /* Reducción del padding */
    text-align: right;
}

/* Botones */
.btn-primary, .btn-success {
    border-radius: 50px;
    padding: 8px 16px; /* Reducción del tamaño del botón */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    background-color: #1ec121; 
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover, .btn-success:hover {
    background-color: #22ac22; 
    color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
}

/* Medios: Estilos Responsive */
@media (max-width: 767px) {
    .card-title {
        font-size: 1.15rem; /* Ajuste del tamaño del texto para pantallas pequeñas */
    }
    .card-text {
        font-size: 0.85rem;
    }
}